.indexbckn{
  background-image: url('../images/indexbckn.jpg');
}
#name{
 
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blue;
  text-align: center;
}
.headerimg{
  background-image: url('../images/headimg.jpg');
  background-size: cover;
}
.aboutmeimg{
  background-size: cover;
  background-image: url('../images/aboutme.jpg');
}
.aboutmebckn{
  background-color: cornflowerblue;
}
.aboutmeh{
  font-size: 30px;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', serif;
  color: rgb(255, 208, 80);

}
.aboutmep{
  color: crimson;
}
.educationimg{
  background-image: url('../images/board.jpeg');
  background-size: cover;
}
.programmimg{
  background-image: url('../images/programming.jpg');
  width: 100%;
  height: 300px;
}
.programmimg p{
  font-size: 20px;
  font-family: monospace;
  color: white;
}
.programmimg h2{
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, serif;
  font-weight: bold;
  color: crimson;
}
ul{
  list-style-type: none;
}
.justcenter{
  text-align: center;
}
.allign{
  padding-bottom: 50px;
  padding-top: 30px;
}
.pepruka{
  float: left;
}
.pmg p{
  background-color:coral;
}
.interests2{
  background-color: cornflowerblue;
}
#subname{
  color: blue;
  font-style: italic;
  
  font-family: monospace;
  text-align: center;
}
.lnktxt{
  font-style: italic;
  font-size: 15px;
  color: rgb(255, 208, 80);
}
a{
  color: crimson;
}
.sidebar{
  float: left;
  
  margin: 10px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 70px;
  border: 10px;
  text-align: right;

}