.indexbckn{
  background-image: url('../images/indexbckn.jpg');
}
#name{
  font-size: 70px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: cyan;
  text-align: center;
}

#subname{
  color: aquamarine;
  font-style: italic;
  font-size: 25px;
  font-family: monospace;
  text-align: center;
}
.lnktxt{
  font-style: italic;
  font-size: 20px;
  color: rgb(255, 208, 80);
}
a{
  color: crimson;
}
.sidebar{
  float: left;
  
  margin: 10px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 70px;
  padding-bottom: 30px;
  border: 10px;
  text-align: center;

}